.answer-1{
  color: white;
  font-weight: bolder;
  text-decoration-line:

}

.answer-2{
  color: white;
  font-weight: bolder;
  /* text-decoration-line: */
  /* border: 10px; */


}
.list-group{
  width: 40%;
}
.list-group li{
  background-color: yellow;

}
body{
  /* background-color: blue; */
  width: 50%;
}
.send{
  width: 40%;
}
.clear{
  color: black;
}
